@tailwind base; 
@tailwind components; 
@tailwind utilities;

/* GLOBAL RESET */
html, body {
  background: var(--global-bg);
  color: var(--text);
}

/* Force theme text everywhere */
* {
  color: var(--text);
}